.logo img {
  width: 200px;
}

.slide3:before {
  content: "";
  background-color: rgb(16, 20, 32);
  background-image: url(../img/aics.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
